@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        -- Typography (Headlines, Paragraphs, Lists, Anchors)
                *--- font-weight 
                * --- font-size   
                * --- style 
                * --- line-height  
                *--- margin 
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        -- Hero 
        -- Nav
        -- Footer


        
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screen Reader
--------------------------------------------------------------*/









/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
*, 
*:after, 
*:before {
       

        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
html {
        font-size: 1rem;
        font-family: 'Roboto Slab', serif;
        color: #00515D;
}
@media screen and (min-width:768px) {
        html {
        
        }    
}

@media screen and (min-width:1024px) {
        html {
        
        }
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */
/* ----- NAV ----- */ 
nav {
        text-align: center;
        padding: 0;
}
ul {
        list-style: none;
        padding: 0;
        margin-top: 0;
}
footer ul {
        margin-top: 2em;
}
li {
        padding-left: 5px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
}
footer li {
        display: block;
        margin-top: 1em;

}
header li:hover {
        background-color: #FFD8DB;
        border-radius: 20px;
        
}
footer a:hover {
        padding: 3px;
        background-color: #FFD8DB;
        border-radius: 20px;
}
a {
        color: #00B0A3;
        text-decoration: none;
}
a:hover {
        color: #00515D;
}


/* ----- TYPOGRAPHY ----- */ 
img {
        padding: 0;
}
h1 {
        font-size: 4rem;
        font-family: 'Pacifico';
        font-weight: 200;
        margin: 0;
        color: #00B0A3;
        padding-top: 2em;
        margin-bottom: 0.2em;
}
h2 {
        font-size: 2rem;
        font-family: 'Pacifico';
        color: #00B0A3;
        margin: 0;
        font-weight: lighter;
}
h3 {
        font-size: 1.5rem;
        font-family: 'Roboto Slab', serif;
        color: #00B0A3;
        margin: 0 0 0.2em 0;
}
h4 {
        font-size: .8rem;
        font-family: 'Open Sans', sans-serif;
        color: #00515D;
        margin: 0;
}
p {
        line-height: 1.8em;
        margin: 0em;
}
p+p {
        margin-top: 2em;
}
footer {
        border-top: 5px solid #FFD8DB;
}
footer .col-sm-4, footer .col-sm-8 {
        margin: 0 auto;
}


@media screen and (min-width:768px) {
        nav{
                text-align: left;
        }
       
        
}

@media screen and (min-width:1024px){
      
}
/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */
.wrapper {
        width: 95%;
        margin: 0 auto;
}
.row {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
}
.img-responsive {
        max-width: 100%;
}
[class*="col-"] {
        padding: .5em .5em ;
}


.col-sm-1 {
        width: calc(100% * 1 /12);
}
.col-sm-2 {
        width: calc(100% * 2 /12);
}
.col-sm-3 {
        width: calc(100% * 3 /12);
}
.col-sm-4 {
        width: calc(100% * 4 /12);
}
.col-sm-5 {
        width: calc(100% * 5 /12);
}
.col-sm-6 {
        width: calc(100% * 6 /12);
}
.col-sm-7 {
        width: calc(100% * 7 /12);
}
.col-sm-8 {
        width: calc(100% * 8 /12);
}
.col-sm-9 {
        width: calc(100% * 9 /12);
}
.col-sm-10 {
        width: calc(100% * 10 /12);
}
.col-sm-11 {
        width: calc(100% * 11 /12);
}
.col-sm-12 {
        width: calc(100% * 12 /12);
}

@media screen and (min-width:768px) {
        .wrapper {
                width: 80%;
        }
        [class*='col-'] {
                padding: 10px;
        }
       
       

        .col-md-1 {
                width: calc(100% * 1 /12);
        }
        .col-md-2 {
                width: calc(100% * 2 /12);
        }
        .col-md-3 {
                width: calc(100% * 3 /12);
        }
        .col-md-4 {
                width: calc(100% * 4 /12);
        }
        .col-md-5 {
                width: calc(100% * 5 /12);
        }
        .col-md-6 {
                width: calc(100% * 6 /12);
        }
        .col-md-7 {
                width: calc(100% * 7 /12);
        }
        .col-md-8 {
                width: calc(100% * 8 /12);
        }
        .col-md-9 {
                width: calc(100% * 9 /12);
        }
        .col-md-10 {
                width: calc(100% * 10 /12);
        }
        .col-md-11 {
                width: calc(100% * 11 /12);
        }
        .col-md-12 {
                width: calc(100% * 12 /12);
        }
}

@media screen and (min-width:1024px) {
        .wrapper {
                width: 80%;
        }

        .col-lg-1 {
                width: calc(100% * 1 /12);
        }
        .col-lg-2 {
                width: calc(100% * 2 /12);
        }
        .col-lg-3 {
                width: calc(100% * 3 /12);
        }
        .col-lg-4 {
                width: calc(100% * 4 /12);
        }
        .col-lg-5 {
                width: calc(100% * 5 /12);
        }
        .col-lg-6 {
                width: calc(100% * 6 /12);
        }
        .col-lg-7 {
                width: calc(100% * 7 /12);
        }
        .col-lg-8 {
                width: calc(100% * 8 /12);
        }
        .col-lg-9 {
                width: calc(100% * 9 /12);
        }
        .col-lg-10 {
                width: calc(100% * 10 /12);
        }
        .col-lg-11 {
                width: calc(100% * 11 /12);
        }
        .col-lg-12 {
                width: calc(100% * 12 /12);
        }

}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

/* ----- NAV ----- */




/* ----- CONTENT ----- */

/* ----- SYSTEMS ----- */
#systems {
        margin: 2em 0em 4em 0em;
}
#systems .row:last-child section {
        align-content: flex-start;
}
#systems .row:last-child section h3{
        margin-bottom: .5em;
}
#systems .col-md-8 {
        margin-bottom: 1em;
}
/* ----- Pos-fixed ----- */
#pos-fixed {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FFF;
        margin-bottom: 1px;
        border-bottom: 5px solid #FFD8DB;
}
#pos-fixed + div {
        background-color: #FFD8DB;

}
#pos-fixed .wrapper {
        text-align: center;
}
#bg-image p {
        padding-bottom: 6em;
}
/* ----- Bg-image ----- */
#bg-image {
        text-align: center;
        margin-top: 9em;
}
/* ----- Layout ----- */
#layout {
        margin-bottom: 4em;
}
#layout > section:first-child {
        flex-direction: column;
        justify-content: center;
        background-color: #FFD8DB;
        text-align: center;
        padding: 2em;
        margin-bottom: 8em;
}
#layout .row:last-child section {
        margin-top: 2em;
}
 h2 {
        margin-bottom: .5em;
}
/* ----- Testing ----- */
#testing {
        margin-bottom: 4em;
}
#testing .col-lg-12:first-child {
        display: none;
}
/* ----- Benenfits ----- */
#benefits {
        margin-bottom: 2em;
}
#benefits {
        text-align: center;
}
[class*="fa"] {
        padding: 0px;
        font-size: xx-large;
}


@media screen and (min-width:768px) {
        #pos-fixed .wrapper {
                text-align: left;
        }
        #systems{
                text-align: center;
        }
        #testing .col-lg-12:first-child {
                display: block;
        }
        #benefits .row :last-child {
                text-align: left;
        }
        #benefits h3 {
                margin: 0px;
        }

}

@media screen and (min-width:1024px){
        #layout > section:first-child {
                order: 1;
        }
        #benefits header:first-child {
                margin: 0 auto;
        }
        #layout > section:first-child {
                padding: 0em 2em;
                margin-bottom: 0em;
        }
        [class*="fa"] {
                font-size: 42px;
            }
        footer .wrapper {
                display: flex;
                justify-content: flex-start;
        }
        footer nav {
                order: 1;
        }
}
/*--
/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- SCREENREADER ----- */
.col-center {
        justify-content: center;
}


#bg-image {
        background: url(../img/balloons.jpg) no-repeat;
        -o-background-siz: contain;
        -ms-background-siz: contain;
        -webkit-background-siz: contain;
        -moz-background-siz: contain;
        background-size: contain;
}

  /* ----- COLOR ----- */


  /* ----- UNIVERSAL ----- */

 