@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        -- Typography (Headlines, Paragraphs, Lists, Anchors)
                
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        -- Grouped
        -- Nav
        -- Hero
        -- System
        -- Layout
        -- Testing
        -- Benefits 
        -- Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screen Reader
--------------------------------------------------------------*/









/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
*, 
*:after, 
*:before {
       

        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
html {                  
        color: #00515D;
        font: 1rem 'Roboto Slab', serif;
}

/* @media screen and (min-width:768px) {
        html {
        
        }    
}

@media screen and (min-width:1024px) {
        html {
        
        }
} */

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */







/* ----- TYPOGRAPHY ----- */ 
h1 {
        font: 4rem 'Pacifico', cursive;
        font-weight: 200; /* Fontweight can go into short hand */
        margin: 0;
        color: #00B0A3;
        padding-top: 1em;
        margin-bottom: 0.2em;
}
h2 {
        font: 2.5rem 'Pacifico', cursive; 
        color: #00B0A3;
        margin: 0 0 .5em 0;
}
h3 {
        font: 1.5rem 'Roboto Slab', serif;
        color: #00B0A3;
        margin: 0 0 0.2em 0;
        font-weight: 600;
}
h4 {
        font-family: 'Open Sans', sans-serif;
        color: #00515D;
        margin: 0;
}
p {
        line-height: 1.8em;
        margin: 0em;
}
p+p {
        margin-top: 2em;
}
@media screen and (min-width:1024px){
        h1 {
                font-size: 5em;
        }
        h1 + div {
                font-size: 1.2em;
        }
}



/* ----- ANCHOR ----- */

a {
        padding: 5px;
        color: #00B0A3;
        text-decoration: none;
}
a:hover { /* -----Move below non hover----- */
        
        border-radius: 20px;
        color: #00515D;
        background-color: #FFD8DB;
}
/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */
.wrapper {
        width: 95%;
        margin: 0 auto;
}
.row {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
}
.img-responsive {
        max-width: 100%;
}
[class*="col-"] {
        padding: .5em .5em ;
}
[class*="col-"] [class*="col-"] {
        margin-left: -.5em;
        margin-right: -.5em;
}


.col-sm-1 {
        width: calc(100% * 1 /12);
}
.col-sm-2 {
        width: calc(100% * 2 /12);
}
.col-sm-3 {
        width: calc(100% * 3 /12);
}
.col-sm-4 {
        width: calc(100% * 4 /12);
}
.col-sm-5 {
        width: calc(100% * 5 /12);
}
.col-sm-6 {
        width: calc(100% * 6 /12);
}
.col-sm-7 {
        width: calc(100% * 7 /12);
}
.col-sm-8 {
        width: calc(100% * 8 /12);
}
.col-sm-9 {
        width: calc(100% * 9 /12);
}
.col-sm-10 {
        width: calc(100% * 10 /12);
}
.col-sm-11 {
        width: calc(100% * 11 /12);
}
.col-sm-12 {
        width: calc(100% * 12 /12);
}

@media screen and (min-width:768px) {
        .wrapper {
                width: 80%;
        }
        [class*='col-'] {
                padding: 10px;
        }
       
       

        .col-md-1 {
                width: calc(100% * 1 /12);
        }
        .col-md-2 {
                width: calc(100% * 2 /12);
        }
        .col-md-3 {
                width: calc(100% * 3 /12);
        }
        .col-md-4 {
                width: calc(100% * 4 /12);
        }
        .col-md-5 {
                width: calc(100% * 5 /12);
        }
        .col-md-6 {
                width: calc(100% * 6 /12);
        }
        .col-md-7 {
                width: calc(100% * 7 /12);
        }
        .col-md-8 {
                width: calc(100% * 8 /12);
        }
        .col-md-9 {
                width: calc(100% * 9 /12);
        }
        .col-md-10 {
                width: calc(100% * 10 /12);
        }
        .col-md-11 {
                width: calc(100% * 11 /12);
        }
        .col-md-12 {
                width: calc(100% * 12 /12);
        }
}

@media screen and (min-width:1024px) {
        .wrapper {
                width: 80%;
        }

        .col-lg-1 {
                width: calc(100% * 1 /12);
        }
        .col-lg-2 {
                width: calc(100% * 2 /12);
        }
        .col-lg-3 {
                width: calc(100% * 3 /12);
        }
        .col-lg-4 {
                width: calc(100% * 4 /12);
        }
        .col-lg-5 {
                width: calc(100% * 5 /12);
        }
        .col-lg-6 {
                width: calc(100% * 6 /12);
        }
        .col-lg-7 {
                width: calc(100% * 7 /12);
        }
        .col-lg-8 {
                width: calc(100% * 8 /12);
        }
        .col-lg-9 {
                width: calc(100% * 9 /12);
        }
        .col-lg-10 {
                width: calc(100% * 10 /12);
        }
        .col-lg-11 {
                width: calc(100% * 11 /12);
        }
        .col-lg-12 {
                width: calc(100% * 12 /12);
        }

}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */
/* ----- Grouped ----- */
/* #layout,
#testing {
        margin-bottom: 4em;
} */
#bg-hero div,
#nav-bar,
#layout > section:first-child,
#benefits,
footer {
        text-align: center;
       
}
nav,
ul,
img,
[class*="fa"] {
        padding: 0;
}
#nav-bar + div,
#nav-bar + div,
#layout > section:first-child {
        background-color: #FFD8DB;
}
#layout,
#testing,
#systems,
#benefits {
        padding-top: 5em;
}

@media screen and (min-width:768px) {
        #nav-bar .wrapper,
        #benefits .row:last-child {
                text-align: left;
        }   
        #layout,
        #testing,
        #systems,
        #benefits {
                padding-top: 7em;
        }  
}


/* ----- NAV ----- */
ul {
        list-style: none;
        margin: 0;
}
li { 
       
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
}
@media screen and (min-width:768px) {
        nav{
                text-align: right;
        }     
}
/* ----- header-hero ----- */
#bg-hero .col-lg-5 {
        margin: 0 auto;
}
#nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FFF;
        border-bottom: 5px solid #FFD8DB;
        width: 100%;
}
#nav-bar .wrapper {
        margin-bottom: 10px;
}
#nav-bar + div {
        padding-top: 8em;
}
h1 + div {
        padding-bottom: 3em;
}
img {
        width: 120px;
        height: auto;
}
#bg-hero div:first-child {
        background: url(../img/balloons.jpg) left no-repeat;
        -o-background-siz: contain;
        -ms-background-siz: contain;
        -webkit-background-siz: contain;
        -moz-background-siz: contain;
        background-size: contain;
}
@media screen and (min-width:768px) {
        #nav-bar + div {
                padding-top: 2em;
        }
        #bg-hero {
                margin-top: 5em;
        }   
}
@media screen and (min-width:1024px) {
        #nav-bar > .row {
                align-items: center;
        }  
}
/* ----- SYSTEMS ----- */
#systems section {
        align-content: flex-start;
}
#systems section h3{
        margin-bottom: .5em;
}
#systems .col-md-8 {
        margin-bottom: 1em;
}
@media screen and (min-width:768px) {
        #systems{
                text-align: center;
        }
         
}
@media screen and (min-width:1024px) {
        #testing > div:first-child {
                background: url(../img/rainbows.jpg)  no-repeat center;
                -o-background-siz: cover;
                -ms-background-siz: cover;
                -webkit-background-siz: cover;
                -moz-background-siz: cover;
                background-size: cover;

                -o-background-clip: content-box;
                -ms-background-clip: content-box;
                -webkit-background-clip: content-box;
                -moz-background-clip: content-box;
                background-clip: content-box; /* CSS three need vector prefixes */
        }  

}

/* ----- Layout ----- */
#layout > section:first-child {
        flex-direction: column;
        justify-content: center;
        padding: 2em;
        margin-bottom: 8em;
}
#layout .row:last-child section {
        margin-top: 2em;
}
#layout section:first-child h2 {
        font-size: 2rem;
}
@media screen and (min-width:768px) {
          
}
@media screen and (min-width:1024px) { 
        #layout > section:first-child {
                order: 1;
        }
        #layout > section:first-child {
                padding: 0em 2em;
                margin-bottom: 0em;
        }
}
/* ----- Testing ----- */


@media screen and (min-width:768px) { 
        #testing .col-lg-12:first-child {
                display: block;
        }    
}

/* ----- Benenfits ----- */
#benefits {
        margin-bottom: 2em;
}

#benefits > header:first-child {
        margin: 0 auto 2em auto;
}

@media screen and (min-width:768px) {
        #benefits h3 {
                margin: 0px;
        }  
}
@media screen and (min-width:1024px) {
        #benefits > header:first-child {
                margin: 0 auto 1em auto;
        }
        #benefits [class*="col-"] .col-md-2 {
                text-align: right;
        }     
} 
        /* ------FOOTER------- */
footer {
        border-top: 5px solid #FFD8DB;
        margin-bottom: 3em;
}
footer .col-lg-5 {
        padding-top: 2em;
}
footer ul { 
        margin-top: 2em;
}

footer li {
        display: block;
        margin-top: 1em;
}
@media screen and (min-width:768px) {
        footer nav {
                order: 1;
                text-align: left;
        }
        footer .wrapper {
                justify-content: flex-start;
                text-align: left;
        }
}
@media screen and (min-width:1024px) {
          
        
       
       
}    
/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */
/* ----- content ----- */
.col-center {
        justify-content: center;
}

[class*="fa"] {
        font-size: xx-large;
}
@media screen and (min-width:1024px){
        [class*="fa"] {
                font-size: 42px;
        } 

}

 